Code/detrendr/src/*.so
*.DS_Store
Code/detrendr/R/.Rhistory
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*~
*chunk*
*cache*

*.o
*.so
Notes/timing_and_convergence_examples_cache
Notes/timing_and_convergence_examples_files
